[project]
name = "python-exercise"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "requests",
]

[dependency-groups]
dev = [
    "flake8",
    "pytest",
    "pytest-mock",
    "pytest-html",
    "assertpy",
    "ruff",
]
